
@{
    ViewBag.Title = "Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <div class="wedge-module-content">
        <iframe frameborder="0" width="975" height="800" src="http://www.yourstreamlive.com/embed/iframe/tabs/1719?include_chat=no&include_countdown=yes&countdown_text_color=black&show_powered_by=yes&show_live_event_schedule_link=yes&event_types_on_tabs=no&live_player_width=640&live_viewer_height=480&include_sharing=yes&skin=six" marginheight="0" marginwidth="0" scrolling="auto" allowtransparency="yes" name="tabs" id="tabs"></iframe>
    </div>

</div>
