div {
    background: white;
}

th, tr, td {
    border-style: solid;
    border-collapse: collapse;
    border-width: 2px;
}

td {
    height: 25px;
    width: 25px;
}

th {
    text-align: center;
}
